{% extends "layout.html" %}
{% block content %}
    <h2>We are a group of 4 students from IIIT- Hyderabad</h2>
<ul>
   <li> <h3>Shrikant Salunke </h3> M. Tech second year (<a href="mailto:shrikant.salunke@students.iiit.ac.in">shrikant.salunke@students.iiit.ac.in</a>)</li><br><br>
   <li> <h3>Kedar Biradar </h3> M. Tech second year (<a href="mailto:kedar.biradar@students.iiit.ac.in">kedar.biradar@students.iiit.ac.in</a>)</li><br><br>
   <li> <h3>Anil Kumar M </h3> PGSSP (<a href="mailto:anilkumar@students.iiit.ac.in">anilkumar@students.iiit.ac.in</a>)</li><br><br>
   <li> <h3>Akshay Tayal </h3> PGSSP (<a href="mailto:akshay.tayal@students.iiit.ac.in">akshay.tayal@students.iiit.ac.in</a>)</li>
</ul>
{% endblock %}
