<!DOCTYPE html>
<html lang="en">
<head>
{% if title %}
 		<title>{{ title }}</title>
	{% else %}
		<title> Cassandra Browser Tool </title>
{% endif %}

<meta charset="utf-8">
<!--link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all"-->
<link href="{{ url_for('static', filename='css/reset.css') }}" rel="stylesheet" type="text/css" media="all"/>
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all"/>
<!--script type="text/javascript" src="js/jquery-1.4.2.min.js" ></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-replace.js"></script>
<script type="text/javascript" src="js/Myriad_Pro_300.font.js"></script>
<script type="text/javascript" src="js/Myriad_Pro_400.font.js"></script>
<script type="text/javascript" src="js/script.js"></script-->
<!--[if lt IE 7]>
<link rel="stylesheet" href="css/ie6.css" type="text/css" media="screen">
<script type="text/javascript" src="js/ie_png.js"></script>
<script type="text/javascript">ie_png.fix('.png, footer, header nav ul li a, .nav-bg, .list li img');</script>
<![endif]-->
<!--[if lt IE 9]><script type="text/javascript" src="js/html5.js"></script><![endif]-->
</head>
<body id="page1">
<!-- START PAGE SOURCE -->
<div class="wrap">
  <header>
    <div class="container">
      <nav>
        <ul>
          <li class="current"><a href="/index" class="m1">Home</a></li>
          <li><a href="/about-project" class="m3">About Cassandra</a></li>
          <li><a href="/about-us" class="m2">About Us</a></li>
          <li><a href="/help" class="m4">Help</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container">
    <aside>
      <h3>Categories</h3>
      <ul class="categories">
        <li><span><a href="#">Nodes</a></span></li>
	 <form action="/update_node" method="GET" id="newsletter-form" >
       		<fieldset>
			<div>
				<h4 style="color:blue;margin-left:20px;margin-top:5px;">Node connection</h4>
				<input type="input" name="ipaddress" placeholder="IP Address"  style="width:130px;margin-left:20px;margin-right:20px"  >
			</div>
			<input class="connect" type="submit" value="submit" style="border:1px solid auqa;background-color: Aqua ;"/>
		</fieldset>
			
      </form>
        <li><span><a href="/showAllKeyspaces">Keyspaces</a></span></li>
        <li><span><a href="/showAllTables">ColumnFamilies</a></span></li>
        <!--li><span><a href="#">Descriptions</a></span></li>
        <li><span><a href="#">Administrators</a></span></li>
        <li><span><a href="#">Basic Information</a></span></li>
        <li><span><a href="#">Vacancies</a></span></li>
        <li class="last"><span><a href="#">Calendar</a></span></li-->
      </ul>
     
    </aside>
	<section id="content">
		<div id="banner">
			<h2 style="color:#CCCC00;">Cassandra Browser Tool</h2>
		</div>
		<div id="frame" class="desc_table">
		{% block content %}

		{% endblock %}
		</div>

	</section>
  </div>
</div>
<footer>
  <div class="footerlink">
    <p class="lf">Copyright &copy; 2014 <a href="#">Cassandra Browser tool!</a> - All Rights Reserved</p>
    <div style="clear:both;"></div>
  </div>
</footer>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
<!--div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div-->
</body>
</html>
